body {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    color: rgba(30, 30, 30, 1);
}
  
.quote-container {
    margin: auto;
    padding: 64px;
    text-align: left;
    position: relative;
}

h1 {
    color: #3a3a3a;
    font-size: 2.2em;
    font-weight: 400;
    text-align: left;
    position: relative;
    cursor: pointer;
}

p {
    color: #6B6B6B;
}

.material-symbols-rounded {
    font-size: 22px;
    margin-right: 4px;
}

h1::before {
    content: attr(data-tooltip);
    width: auto;
    color: #3a3a3a;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    border-radius: 8px;
    padding: 4px 8px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%); 
    transition: opacity 0.3s, width 0.3s; 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1:hover::before {
    opacity: 1;
}

.options-container {
    position: sticky;
    bottom: 40px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    background-color: rgb(255 255 255 / 57%);
    padding: 16px;
    border-radius: 24px;
}

.button {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: #3a3a3a;
    cursor: pointer;
    padding: 8px 14px;
    min-height: 3rem;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
}

.button .material-icons {
    margin-right: 8px;
}

.button:hover,
.button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button:hover {
    transform: translateY(-1px);    
}

.button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
}

@media screen and (max-width: 560px) {
    .quote-container {
        padding: 40px;
    }

    .options-container {
        padding: 8px;
        width: 90%;
        border-radius: 16px;
        gap: 4px;
        flex-wrap: wrap;
    }

    .button {
        flex-grow: 1;
        justify-content: center;
        width: 33%;
    }
  }